body {
        background-color: #f7f7f7;
    }

    #formtitel,
    #sendbutton {
        text-align: center !important;
    }

    #form_container {
        padding-bottom: 20px !important;
    }

    #content_container {
        max-width: 850px !important;
        margin-top: 5vh;
    }
